<!DOCTYPE html>
<html ng-app="query-system">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <link rel="stylesheet" href="container.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script type="text/javascript" src="app2.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>  
        <script data-require="angular-ui-bootstrap@0.12.1" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    </head>

    <body class="list-group" ng-controller="SystemController as systemCtrl">

        <div class="row bg-primary"> 
            <div class="col-xs-12 col-xm-12 col-md-12" style="margin-left: 20px; margin-bottom: 10px">
                <form name="queryInput">
                    <h4>康健文章查詢系統</h4>
                    <input type="text" placeholder="請輸入疾病名稱" style="width: 500px">
                    <input type="submit" value="搜尋">
                </form>
            </div>
        </div>

        <div class="row" style="margin-left: 15px">
            <div class="paragraph-container" ng-controller="PageController as pageCtrl">
                <div class="col-xs-9 col-sm-9 col-md-9" style="border: 1px solid #eeeeee; border-radius: 2px;">
                    <p class="text-muted" ng-show="result_list.length > 0" style="margin-top: 5px;">共有{{ result_list.length }}筆結果</p>

                    <div ng-repeat="info in filtered_result_list">
                        <section>
                            <h4>{{ info.title }}</h4>
                            <h6>{{ info.snippet }}</h6>
                        </section>
                    </div>

                    <pagination 
                        total-items="result_list.length" 
                        ng-model="currentPage" 
                        max-size="maxSize" 
                        class="pagination-sm" 
                        boundary-links="true"
                        ng-show="result_list.length > 0">
                    </pagination>
                </div>
            </div>
            <div class="tag-container" ng-controller="TagController as tagCtrl">
                <div class="col-xs-3 col-sm-3 col-md-3 bg-info">
                    <h5>篩選標籤</h5>
                    <div ng-repeat="(tag, list) in systemCtrl.disease_info">
                        <ul ng-class="{ active: tagCtrl.isSelected(tag) }">
                            <input type="checkbox" ng-click="tagCtrl.selectTag(tag)">{{ tag }}</input>
                        </ul>
                    </div>
                    <input type="submit" value="確認" ng-click="tagCtrl.generateResultList()"></input>
                </div>
            </div>
        </div>
    </body>
</html>

