<!DOCTYPE html>
<html ng-app="query-system">
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
   <link rel="stylesheet" href="/static/css/container.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
   <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>  
   <script data-require="angular-ui-bootstrap@0.12.1" data-semver="0.12.1" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

   <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
   <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
   <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

   <script type="text/javascript" src="/static/js/app3.js"></script>

</head>

<body class="list-group" ng-controller="SystemController as systemCtrl">
   
   <div class="row bg-primary"> 
      <div class="col-xs-12 col-xm-12 col-md-12" style="margin-left: 20px; margin-bottom: 10px">
         <form name="query_input">
            <h4>康健文章查詢測試版 
            <input type="text" ng-model="input_disease" class="text-muted" placeholder="請輸入疾病名稱" style="width: 500px">
            <button ng-click="query(input_disease)">搜尋</button>
            </h4>
         </form>
      </div>
   </div>
   {% verbatim %}
   <div class="row" style="margin-left: 5px">
      <div class="paragraph-container" ng-controller="PageController as pageCtrl">

         <div class="col-xs-2 col-sm-2 col-md-2" style="border: 1px solid #eeeeee; border-radius: 2px;">
            <div class="type-container" ng-controller="TypeController as typeCtrl">
               <p class="text-muted" ng-show="results.length >= 0" style="margin-top: 5px;">共有{{ info_sidebar.length }}個群組</p>
               <div ng-repeat="info in info_sidebar">
                  <a data-toggle="collapse" data-parent="#accordion" href="#{{info.title}}sidebar">{{info.title}} ( {{info.size}} )</a>
                  <div id="{{info.title}}sidebar" class="panel-collapse collapse">
                     <h4 id="{{keyword}}" class="panel-body" ng-repeat="keyword in info.keywords" ng-click="generateQueryResults(keyword=keyword, clusterid=info.title)">{{ keyword }}</h4>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-xs-8 col-sm-8 col-md-8" style="border: 1px solid #eeeeee; border-radius: 2px;"> 
            <div class="container col-xs-12 col-sm-12 col-md-12">
               <p class="text-muted" ng-show="results.length >= 0" style="margin-top: 5px;">共有{{ results.length }}筆結果</p>
               <div class="panel-group" id="accordion">
                  <div ng-repeat="info in filtered_results">
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <h4 class="panel-title">
                              <div>
                                 
                                 <a data-toggle="collapse" data-parent="#accordion" href="#{{info.title}}">{{ info.title }}：{{ info.member[0]['content'].slice(0,45)}}...</a>
                                 
                                 <!--
                                 <a data-toggle="collapse" data-parent="#accordion" href="#{{info.title}}">群組【
                                    <span ng-repeat="k in info.keywords">{{k}} </span>】( {{info.size}} )： {{info.member[0]['content'].slice(0,30)}}...</a>
                                 -->
                              </div>
                           </h4>
                        </div>
                        <div id="{{info.title }}" class="panel-collapse collapse">
                           <div class="panel-body" ng-repeat=" member in info.member">{{ member.content.slice(0,100) }}
                              <br>
                              <div style="margin-left: 70%">標籤：
                              <span ng-repeat="type in member['types']" style="margin: 0 auto">{{ type }} </span>
                              <button class="btn btn-primary" type="button" ng-controller="ModalController as modalCtrl" ng-click="open(member)" style="float: right">快速檢視</button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            
            <pagination 
            total-items="results.length" 
            ng-model="currentPage" 
            max-size="maxSize" 
            class="pagination-sm" 
            boundary-links="true"
            ng-show="results.length > 0">
            </pagination>
            </div>
         </div>
      </div>
      <div class="type-container" ng-controller="TypeController as typeCtrl">

            <!-- ng-show-->
            <div ng-show="start_date != null" class="col-xs-2 col-sm-2 col-md-2 bg-info">
            <h5>文章時間</h5>
            <input type="text" id="daterange" name="daterange" value="" style="width: 167px"></input>
            <h5>★篩選標籤</h5>
            <div ng-repeat="type in types">
               <ul ng-class="{ active: typeCtrl.isSelected(type) }">
                  <input type="checkbox" ng-click="typeCtrl.selectType(type)" checked="checked">{{ type }}</input>
               </ul>
            </div>
            <h5>★作者</h5>
            <div ng-repeat="author in authors">
               <ul ng-class="{ active: typeCtrl.isSelected(author) }">
                  <input type="checkbox" ng-click="typeCtrl.selectType(author)" checked="checked">{{ author }}</input>
               </ul>
            </div>
            <input type="submit" value="確認" ng-click="generateQueryResults()"></input>
         </div>
      </div>
   </div>
   <script type="text/ng-template" id="modalContent.html">
      <div class="modal-header">
         <h3 class="modal-title">{{ title }}</h3>
      </div>
      <div class="modal-body">
         {{ content }}
      </div>
      <div class="modal-footer">
         <button class="btn btn-primary" ng-click="ok()">OK</button>
      </div>
   </script>
   {% endverbatim %}
</body>
</html>

